{% block small_search_bar_content %}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Current Bookings</h3>
    </div>
    <hr>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ selected_moviename }}<span
                    class="caret"></span></button>
            <ul class="dropdown-menu" name="moviename">
                <li value="any_movie"><a href="/"> Any Movie</a></li>
                {% for item in today_movies_list_names %}
                <li value="{{ item.movieid }}"><a href="{{ item.movieid }}/">{{ item.moviename }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ selected_theatername }}<span class="caret"></span></button>
            <ul class="dropdown-menu" name="theatername">
                <li value="any_theater"><a href="/">Any Theater</a></li>
                {% for item in today_theater_list_names %}
                <li value="{{ item.theaterid }}"><a href="{{ item.theaterid }}/">{{ item.theatername }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ selected_showdate }}<span class="caret"></span></button>
            <ul class="dropdown-menu" name="showdate">
                <li value="any_date"><a href="/book/showdate/any-date">Any Date</a></li>
                {% for key, value in weeklist.items %}
                <li><a href="{{ key }}/">{{ value|date:"l, j M" }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ selected_showname }}<span
                    class="caret"></span></button>
            <ul class="dropdown-menu" name="showname">
                <li value="any_show"><a href="any_show">Any Show</a></li>
                {% for key, value in today_show_name_list.items %}
                    <li><a href="{{ key }}/">{{ value }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<br/>
{% endblock small_search_bar_content %}
