{% extends 'Book/base.html' %}
{% load static %}
{% block active_movie_content %}
Main {{ match }}
<!--From One Movie Arae-->
<div class="row">
    {% for item in today_movies_list %}
    <div class="col-sm-3">
        <div class="col-xs-12">
            <a href="/{{ item.movieid }}">
                <!--<img class="img-responsive" src="{% static 'Book/images/movie'%}{{forloop.counter}}.jpg" alt="">-->
                <img class="img-responsive thumbnail" src="{{ item.movieposter.url }}" alt="">
                <div align="center" style="text-decoration:none">{{ item.moviename }}</div>
            </a>
            <p>
                <!- Movie Related information will be stored here -->
                {% lorem 3 %}
                <!- End Movie Related information will be stored here -->
            </p>
        </div>
    </div>
    <div class="col-sm-9">
        <!-- Booking and all the Crazy stuff will be done here -->
        <div class="row">
            <div class="col-lg-12">
                <p>
                    {% for key, value in weeklist.items %}
<!--                    <script>alert("date is {{ today_date }}is {{ value  }}is {{ value }}")</script>-->
                        {% if value|date:"Y-M-d" == today_date|date:"Y-M-d" %}
                            <a href="{{ key }}/" class="btn btn-sq-sm btn-success">{{ value|date:"d" }}</strong><br/><b>{{value|date:"l" }}</b></a>
                        {% else %}
                            <a href="{{ key }}/" class="btn btn-sq-sm btn-primary">{{ value|date:"d" }}</strong><br/><b>{{value|date:"l" }}</b></a>
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><h4>Selected Date is <strong>{{ today_date|date:"d, M-Y" }}</strong></h4></p>
            </div>
            <div class="col-lg-12">
                <form>
                    <table class="table borderless">
                        {{ display_showtime_html|safe }}
                    </table>
                </form>
            </div>
        </div>
        <div class="row">
            <br/> <b>Today Session Movie </b>{{ today_movies_list_names}}
            <br/> <b>Today week list </b>{{ weeklist}}
            <br/> <b>Today theater list names </b>{{ today_theater_list_names}}
            <br/> <b>Today show name </b>{{ today_show_name_list }}
            <br/> <b>Selected Movie </b>{{ selected_moviename }}
            <br/> <b>Selected Theater </b>{{ selected_theatername }}
            <br/> <b>Selected ShowDate </b>{{ selected_showdate }}
            <br/> <b>Selected ShowName </b>{{ selected_showname }}
            <br/> <b>Today Date </b>{{ today_date }}
            <br/> <b>Url List </b>{{ url_list }}
            <br/> <b>all detals </b>{{ all_details_of_movie }}
            <br/> <b>Sohw timing list</b>{{ today_show_timings_list }}
            <br/> <b>display_showtime_html </b>{{ display_showtime_html }}
            <br/> <b>Linked Date id </b>{{ today_date }}
            <br/> <b>Linked movie id </b>{{ link_movieid }}
        </div>

        <!-- End Booking and all the Crazy stuff will be done here -->
    </div>
    {% endfor %}
</div>
<br/>
{% endblock active_movie_content %}
