{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <link href="{% static 'Book/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'Book/css/portfolio-item.css' %}" rel="stylesheet" type="text/css">

    <title>{% block title %}Welcome to Movie Tickets{% endblock %}</title>
    <style>
    .borderless td,
    .borderless tbody td,
    .borderless tbody tr td,
    .borderless th {
    border: none;
    }

    </style>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Book Tickets</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="container">

    <!-- Begin Small Search Bar Content -->
    {% block small_search_bar_content %}
    {% include 'Book/base_small_search_bar_content.html' %}
    {% endblock %}
    <!-- End Small Search Bar Content -->

    <!-- Begin Active Movie Area Content -->
    {% block active_movie_content %}
    {% endblock %}
    <!-- End Active Movie Area Content -->

    <!-- Begin Search Movie Content -->
    {% block search_movie_content %}
    {% include 'Book/base_search_movie_content.html' %}
    {% endblock %}
    <!-- End Search Movie Content -->

</div>
{% block footer %}
<hr>
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Ticket Booking 2016</p>
        </div>
    </div>
    <!-- /.row -->
</footer>
{% endblock %}
<script src="{% static 'Book/js/jquery.min.js' %}"></script>
<script src="{% static 'Book/js/netbootstrap.min.js' %}"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
